@model CajaAhorro.Web.Data.Entities.Bank

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fas fa-edit"></i> Edit Bank
            <small>@Model.Name</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fas fa-money-check-alt"></i> Bank</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit the information about the bank <b>@Model.Name</b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form asp-action="Edit" role="form">
                <div class="box-body">
                    <div class="col-md-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreateDate" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" value="Save" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                    <a asp-action="Index" class="btn btn-info"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
