<div class="page-signin-modal modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box m-a-0">
                <div class="box-row">

                    <div class="box-cell col-md-5 bg-primary p-a-4">
                        <div class="text-xs-center text-md-left">
                            <a class="px-demo-brand px-demo-brand-lg" href="index.html"><span class="px-demo-logo bg-primary m-t-0"><span class="px-demo-logo-1"></span><span class="px-demo-logo-2"></span><span class="px-demo-logo-3"></span><span class="px-demo-logo-4"></span><span class="px-demo-logo-5"></span><span class="px-demo-logo-6"></span><span class="px-demo-logo-7"></span><span class="px-demo-logo-8"></span><span class="px-demo-logo-9"></span></span><span class="font-size-20 line-height-1">PixelAdmin</span></a>
                            <div class="font-size-15 m-t-1 line-height-1">Simple. Flexible. Powerful.</div>
                        </div>
                        <ul class="list-group m-t-3 m-b-0 visible-md visible-lg visible-xl">
                            <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-sitemap text-white"></i> Flexible modular structure</li>
                            <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-file-text-o text-white"></i> SCSS source files</li>
                            <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-outdent text-white"></i> RTL direction support</li>
                            <li class="list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-heart text-white"></i> Crafted with love</li>
                        </ul>
                    </div>

                    <div class="box-cell col-md-7">

                        <!-- Sign In form -->

                        <form action="index.html" class="p-a-4" id="page-signin-form">
                            <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">Sign In to your Account</h4>

                            <fieldset class="page-signin-form-group form-group form-group-lg">
                                <div class="page-signin-icon text-muted"><i class="ion-person"></i></div>
                                <input type="text" class="page-signin-form-control form-control" placeholder="Username or Email">
                            </fieldset>

                            <fieldset class="page-signin-form-group form-group form-group-lg">
                                <div class="page-signin-icon text-muted"><i class="ion-asterisk"></i></div>
                                <input type="password" class="page-signin-form-control form-control" placeholder="Password">
                            </fieldset>

                            <div class="clearfix">
                                <label class="custom-control custom-checkbox pull-xs-left">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  Remember me
                </label>
                                <a href="#" class="font-size-12 text-muted pull-xs-right" id="page-signin-forgot-link">Forgot your password?</a>
                            </div>

                            <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Sign In</button>
                        </form>

                        <div class="p-y-3 p-x-4 b-t-1 bg-white darken" id="page-signin-social">
                            <a href="index.html" class="btn btn-block btn-lg btn-info font-size-13"><span class="btn-label-icon left fa fa-twitter"></span>Sign In with <strong>Twitter</strong></a>
                        </div>

                        <!-- / Sign In form -->

                        <!-- Reset form -->

                        <form action="index.html" class="p-a-4" id="page-signin-forgot-form">
                            <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">Password reset</h4>

                            <fieldset class="page-signin-form-group form-group form-group-lg">
                                <div class="page-signin-icon text-muted"><i class="ion-at"></i></div>
                                <input type="email" class="page-signin-form-control form-control" placeholder="Your Email">
                            </fieldset>

                            <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Send password reset link</button>
                            <div class="m-t-2 text-muted">
                                <a href="#" id="page-signin-forgot-back">&larr; Back</a>
                            </div>
                        </form>

                        <!-- / Reset form -->

                    </div>
                </div>
            </div>
        </div>

        <div class="text-xs-center m-t-2 font-weight-bold font-size-14 text-white" id="px-demo-signup-link">
            Not a member? <a href="pages-signup-v1.html" class="text-white"><u>Sign Up now</u></a>
        </div>
    </div>
</div>
<div class="px-responsive-bg">
    <div class="px-responsive-bg-overlay" style="background: rgb(0, 0, 0); opacity: 0.2;"></div><img alt="" src="../../../assets/demo/bgs/2.jpg" style="width: 100%; height: 1280px; left: 0px;"></div>