@{
    ViewData["Title"] = "Contact";
}
<h2></h2>
<h3></h3>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small>@ViewData["Message"]</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Contact</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Information or Suport?</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-teal">
                            <div class="widget-user-image">
                                <img class="img-circle" src="~/images/avatar_admin.png" alt="User Avatar" />
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Vladimir Miranda</h3>
                            <h5 class="widget-user-desc">Lead Developer</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="https://twitter.com/vladimiranda">Twitter (vladimiranda)<span class="pull-right badge bg-aqua"><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="https://www.facebook.com/vladimir.miranda2/">Facebook (vladimir.miranda2) <span class="pull-right badge bg-blue"><i class="fab fa-facebook-f"></i></span></a></li>
                                <li><a href="#">Instagram <span class="pull-right badge bg-red"><i class="fab fa-instagram"></i></span></a></li>
                                <li><a href="mailto:vladivirus666@gmail.com">Mail (vladivirus666@gmail.com)<span class="pull-right badge bg-green"><i class="fas fa-envelope"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                    <address>
                        Urbanización Tréboles del Sur<br />
                        Quito, Ecuador<br />
                        <abbr title="Phone">P:</abbr>
                        +(593) 988340574
                    </address>

                    <address>
                        <strong>Web:</strong> <a href="http:www.programacion-ecuador.com">www.programacion-ecuador.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->