<!-- Nav -->
<nav>
    <button type="button" class="px-nav-toggle" data-toggle="px-nav" id="btnCollapseMenu">
<span class="px-nav-toggle-arrow"></span>
<span class="navbar-toggle-icon"></span>
<span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

    <ul class="px-nav-content">
        <li class="px-nav-box p-a-3 b-b-1" id="demo-px-nav-box" *ngIf="ver">
            <button type="button" class="close" aria-label="Close" (click)="ver = !ver"><span aria-hidden="true">&times;</span></button>
            <img src="assets/demo/avatars/1.jpg" alt="" class="pull-xs-left m-r-2 border-round" style="width: 54px; height: 54px;">
            <div class="font-size-16"><span class="font-weight-light">Welcome, </span><strong>John</strong></div>
            <div class="btn-group" style="margin-top: 4px;">
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="far fa-envelope"></i></a>
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fas fa-user"></i></a>
                <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fas fa-cog"></i></a>
                <a href="#" class="btn btn-xs btn-danger btn-outline"><i class="fas fa-power-off"></i></a>
            </div>
        </li>
        <li class="px-nav-item" routerLinkActive="active" *ngFor="let item of menu" [ngClass]="{'px-nav-dropdown': item.children}">
            <a href="{{item.url}}"><i class="px-nav-icon" [ngClass]="item.icon"></i><span class="px-nav-label">{{item.name}}</span></a>
            <ul class="px-nav-dropdown-menu" *ngIf="item.children">
                <li class="px-nav-item" *ngFor="let hijo of item.children"><a href="{{hijo.url}}"><span class="px-nav-label">{{hijo.name}}</span></a></li>
            </ul>
        </li>
    </ul>
</nav>